<div class="flex-container">
    <div class="portfolio-table">
        <div class="flex-container max-1000">
            <h1>Your Portfolio</h1>
            <%# <h3 class="balance">Balance: $<%= "%.2f" % @user.balance %> </h3> %>
        </div>

    <% if Stock.all.size > 0 %>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th class="align-left">Ticker</th>
                    <th class="align-left">Change</th>
                    <th class="align-left">Quantity</th>
                    <th class="align-right">Current Value</th>
                </tr>

            <% @stock_data.each do |symbol, stock_data| %>
                <tr>
                    <td class=<%= stock_data[2]%>><%= symbol %></td>
                    <td class=<%= stock_data[2]%>><%= stock_data[3] %></td>
                    <td><%= pluralize(stock_data[0], 'share') %></td>
                    <td class="align-right <%= stock_data[2] %>">$<%= "%.2f" % (stock_data[1] * stock_data[0])%> </td>
                </tr>
            <% end %>
        </table>

        <% else %>
            <h4>There are no shares in your portfolio. Start trading!</h4>
        <% end %>

        <%= link_to "Buy Stocks", new_stock_path %>
    </div>
</div>