<div class="flex-container">
    <div class="portfolio-table">
        <div class="flex-container max-1000">
            <h1>Your Portfolio</h1>
            <%= render partial: "/balances/show" %>
        </div>

    <br>

    <% if Stock.all.size > 0 %>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th class="align-left">Ticker</th>
                    <th class="align-left">Name</th>
                    <th class="align-right">Current Value</th>
                     <%# <th class="align-left">Quantity</th> %>
                </tr>

            <% @stock_data.each do |stock_data| %>
                <tr>
                    <td><%= @stock.ticker %></td>
                    <td><%= @stock.price %></td>
                    <td>$<%= @price%> </td>  
                    <%# <td><%= pluralize(quantity, 'share') %></td> %>
                </tr>
                  <%= debug(@stock_data) %>
            <% end %>
        </table>

        <% else %>
            <h4>There are no shares in your portfolio. Start trading!</h4>
        <% end %>
    </div>
</div>