<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #0099FF;">
    <%= image_tag 'DogeLogo.png', style: "height: 80px; width: 80px; padding: 10px;" %>
    <%= link_to 'myStonks', root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> 
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        
        <% if current_user %>
            <li class="nav-item">
                <%= link_to "myTrades", trades_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Deposit", deposit_balances_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Withdraw", withdraw_balances_path, class: "nav-link"%>
            </li>

            <li class="nav-item">
             <%= link_to "Buy Stocks", new_stock_path, class: "nav-link" %>
            </li>

             <li class="nav-item">
             <%= link_to "Buy Stocks 2", new_trade_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>

        <% else %>
            <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            </li>
        <% end %>

    </ul>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter your search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    </div> 
</nav>   