<%= form_for(user, url: url) do |f| %>
  <%= render "devise/shared/error_messages", resource: user %>

  <div class="flex flex-col my-4">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "email@email.com", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="flex flex-col my-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <p >
          (<%= @minimum_password_length %> characters minimum)
      </p>
      <% end %>
      <%= f.password_field :password, placeholder: "*********", autocomplete: "new-password"%>
  </div>

  <div class="flex flex-col my-4">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "*********", autocomplete: "new-password"%>
  </div>
    <div class="field">
    <%= f.label :approved %><br />
    <%= f.select :approved, [true,false] %>
    </div>  

  <div class="mt-8">
      <%= f.submit button_text%>
  </div>
<% end %>