<h1>Users</h1>
<% if @users.nil? %>
    <br>
    <h1>No users available</h1>
<%else%>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>Approved: <%= user.approved %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Unapproved Users</h1>
<table class="table-auto">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Approved?</th>
        </tr>
    </thead>    

    <tbody>
        <% @unapproved_users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.approved %></td>
                <td><%= link_to 'Approve', edit_admin_user_path(user) %></td>                
            </tr>
        <% end %>
    </tbody>
</table>
<%end%>
<br>



<%= link_to 'New User', new_admin_user_path %>